<!--
<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Material Dashboard Heading</h4>
            <p class="card-category">Created using Roboto Font Family</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Typography</h2>
                </div>
                <div class="row">
                    <div class="tim-typo">
                        <h1>
                            <span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Header 2</span>The Life of Material Dashboard</h2>
                    </div>
                    <div class="tim-typo">
                        <h3>
                            <span class="tim-note">Header 3</span>The Life of Material Dashboard</h3>
                    </div>
             &lt;!&ndash;       <div class="tim-typo">
                        <h4>
                            <span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>
                    </div>
                    <div class="tim-typo">
                        <h5>
                            <span class="tim-note">Header 5</span>The Life of Material Dashboard</h5>
                    </div>
                    <div class="tim-typo">
                        <h6>
                            <span class="tim-note">Header 6</span>The Life of Material Dashboard</h6>
                    </div>
                    <div class="tim-typo">
                        <p>
                            <span class="tim-note">Paragraph</span>
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Quote</span>
                        <blockquote class="blockquote">
                            <p>
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                            </p>
                            <small>
                                Kanye West, Musician
                            </small>
                        </blockquote>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Muted Text</span>
                        <p class="text-muted">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Primary Text</span>
                        <p class="text-primary">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Info Text</span>
                        <p class="text-info">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Success Text</span>
                        <p class="text-success">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Warning Text</span>
                        <p class="text-warning">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Danger Text</span>
                        <p class="text-danger">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Small Tag</span>
                            Header with small subtitle
                            <br>
                            <small>Use "small" tag for the headers</small>
                        </h2>
                    </div>&ndash;&gt;
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="main-content">
    <div class="container-fluid">
        <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title" style="text-align: left">Data Science Use Cases</h4>

        </div>
        <div class="card-body">
            <div id="typography">

                <div class="row">

                </div>
            </div>

    <!--    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
    </mat-expansion-panel>-->
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Client Path to Loyalty:
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p>
                    Understanding how your client moves through your business and the behaviours and purchases that are distinguished between client paths to identify the virtuous path to loyalty and potential opportunities along it.
                  </p>
                <img src="assets/img/loyalty.png"alt="">

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="secondPanelOpenState = true"
                  (closed)="secondPanelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Omni-Channel Interactions:
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                    <p>
                    Linking digital interactions, pre-sale actions and behaviours with online and offline sales to determine the main digital paths and to provide a holistic view of your customer journey and enhance your communication strategy across channels.
                  </p>
                    <img src="assets/img/omnichannel.png"alt="">

                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      End to end Journey clustering:
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p>
                   Capitalize on the richness of the omni-channel journey in order to identify the path with the highest value, and to identify opportunities for personalization to reduce churn. This requires an in-depth analysis of the customer journey and clustering across comparable journeys to identify the next best action at each significant touchpoint</p>
                <img src="assets/img/endtoend.png"alt="">

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="secondPanelOpenState = true"
                  (closed)="secondPanelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Personalization through Scoring:
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                    <p>
                    Develop a customer scoring algorithm to measure the propensity of your clients to visit the store, churn, acquire a certain product, cross-sell, become VIP… The learnings from the scoring are then fed through into your communication strategy in order to boost the specified KPI</p>
                    <img src="assets/img/personlization.png"alt="">

                </mat-expansion-panel>


                <mat-expansion-panel (opened)="secondPanelOpenState = true"
                  (closed)="secondPanelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Advanced performance measurement:
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                    <p>
                    Conducting a sophisticated measurement program to accurately analyze the performance of different CRM actions whilst creating valuable deep-dives in order to adapt your customer centric strategy.
                  </p>
                    <img src="assets/img/adv_performance.png"alt="">

                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Network clustering - Solution:
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p>
                   Define key typologies of your network, according to the characteristics and behaviors of their customers. These typologies will be the basis with which to build a more personalized in-store experience through the sales ceremony and boutique assortment. It will enable the setting up of objectives, performance monitoring at a boutique and sales associate level.</p>
                <img src="assets/img/clustering.png"alt="">

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="secondPanelOpenState = true"
                  (closed)="secondPanelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Brand image perception:
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                    <p>
                    Build a brand image index which incorporates multiple dimensions, whilst accurately measuring the impact of the specified dimensions.
The approach is adapted to answer your business questions and data availability. Results will be treated to produce operational insights on brand image.</p>
                    <img src="assets/img/brandimage.png"alt="">

                </mat-expansion-panel>

              </mat-accordion>

        </div>

    </div>
    </div>
</div>
