<!--
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title" style="text-align: left">Customer Data Collection</h4>
                      <p class="card-category">"Insert one line description here"</p>
                  </div>

                  <div class="card-body">
                     &lt;!&ndash; <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  &lt;!&ndash; <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> &ndash;&gt;
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>&ndash;&gt;
                      <ul>
                          <li>1. Point 1</li>
                          <li>2. Point 2</li>
                          <li>3. Point 3</li>
                          <li>4. Point 4</li>
                      </ul>
                  </div>
              </div>
          </div>
          &lt;!&ndash;<div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>&ndash;&gt;
      </div>
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title" style="text-align: left">Customer Data Collection</h4>
                      <p class="card-category">"Insert one line description here"</p>
                  </div>

                  <div class="card-body">
                     &lt;!&ndash; <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  &lt;!&ndash; <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> &ndash;&gt;
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>&ndash;&gt;
                      <ul>
                          <li>1. Point 1</li>
                          <li>2. Point 2</li>
                          <li>3. Point 3</li>
                          <li>4. Point 4</li>
                      </ul>
                  </div>
              </div>
          </div>
          &lt;!&ndash;<div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>&ndash;&gt;
      </div>
  </div>
</div>
-->
<div class="main-content">
    <div class="container-fluid">
        <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title" style="text-align: left">Customer Data Collection</h4>
       <!--     <p class="card-category">Created using Roboto Font Family</p>-->
        </div>
        <div class="card-body">
            <div id="typography">
    <!--            <div class="card-title">
                    <h2>Typography</h2>
                </div>-->
                <div class="row">
    <!--                    <div class="tim-typo">
                        <h1>
                            <span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Header 2</span>The Life of Material Dashboard</h2>
                    </div>-->
    <!--                    <div class="tim-typo" style="text-align: left">
                        <h3>
                            &lt;!&ndash;<span class="tim-note">Header 3</span>&ndash;&gt;The Life of Material Dashboard</h3>
                    </div>-->
             <!--       <div class="tim-typo">
                        <h4>
                            <span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>
                    </div>
                    <div class="tim-typo">
                        <h5>
                            <span class="tim-note">Header 5</span>The Life of Material Dashboard</h5>
                    </div>
                    <div class="tim-typo">
                        <h6>
                            <span class="tim-note">Header 6</span>The Life of Material Dashboard</h6>
                    </div>
                    <div class="tim-typo">
                        <p>
                            <span class="tim-note">Paragraph</span>
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Quote</span>
                        <blockquote class="blockquote">
                            <p>
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                            </p>
                            <small>
                                Kanye West, Musician
                            </small>
                        </blockquote>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Muted Text</span>
                        <p class="text-muted">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Primary Text</span>
                        <p class="text-primary">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Info Text</span>
                        <p class="text-info">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Success Text</span>
                        <p class="text-success">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Warning Text</span>
                        <p class="text-warning">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Danger Text</span>
                        <p class="text-danger">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Small Tag</span>
                            Header with small subtitle
                            <br>
                            <small>Use "small" tag for the headers</small>
                        </h2>
                    </div>-->
                </div>
            </div>

    <!--    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
    </mat-expansion-panel>-->
              <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Excel/CSV:
        </mat-panel-title>
        <mat-panel-description>
          Connect to cloud
        </mat-panel-description>
      </mat-expansion-panel-header>

<!--      <p> <b>This is the first item's accordion body.</b>
        An Angular material is an amazing UI for Angular framework, it
        has lots of pre-built components like card, modal, more, and Angular
        material tabs are one of them.
      </p>-->
     <!--   <h3 style="color: #f69f12">CSV/Excel:</h3>-->
        <h5 style="color: #3f03ff">Steps (Assume in Databricks environment):</h5>
        <ol>

         <li>Upload the file at DBFS first </li>
         <li>Open the notebook and put the command to connect to the source data</li>


        </ol>
        <li>For csv:  spark.read.format(“csv”).load(path=None, format=None, schema=None, **options)</li>
         <li>For excel:  spark.read.format(“excel”).load(path=None, format=None, schema=None, **options)</li>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="secondPanelOpenState = true"
      (closed)="secondPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Salesforce:
        </mat-panel-title>
        <mat-panel-description>
          <!--Expansion panel currently state :
          {{ secondPanelOpenState ? 'open' : 'closed' }}-->
            Connect to cloud
        </mat-panel-description>
      </mat-expansion-panel-header>
     <!--   <h3 style="color: #f69f12">CSV/Excel:</h3>-->
        <li>Salesforce Bulk API</li>
         <li><a href="https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/asynch_api_intro.htm">Introduction to Bulk API</a></li>
        <br>
        <h5 style="color: #3f03ff">Steps:</h5>
        <ol>

         <li>Get the following credential information: </li>
            <li><mark>username</mark> <mark>password</mark> <mark>security_token</mark> <mark>domain</mark></li>
         <li>Import the related library:</li>
            <li><mark>from salesforce_bulk import SalesforceBulk</mark></li>
        <li>Use the following line to do authentication:</li>
            <pre>
                <code>
                    bulk = SalesforceBulk(username=salesforce_username, password=salesforce_password,security_token=salesforce_security_token, API_version = 51.0)
                </code>
            </pre>
        <li>Use the following code to query the data and store as Json:</li>
            <pre>
                <code>
                    job = bulk.create_query_job(salesforce_table_name, contentType='JSON')
                        batch = bulk.query(job, f"select {{'{'}}query_table} from {{'{'}}salesforce_table_name}")
                        bulk.close_job(job)
                        while not bulk.is_batch_done(batch):
                            sleep(10)

                        for res in bulk.get_all_results_for_query_batch(batch):
                            data_json = json.load(IteratorBytesIO(res))

                        for x in data_json :
                            x.pop('attributes')
                </code>
            </pre>
            <li>Architecture</li>
            <img src="assets/img/architecture.png"alt="">

        </ol>

    </mat-expansion-panel>
    </mat-accordion>

        </div>
<!--        <mat-tab-group>
            <mat-tab label="First"> Content 1 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>-->

    </div>
    </div>
</div>
